{
  "overrides": [
    {
      "customSyntax": "postcss-less",
      "files": [
        "**/*.less"
      ],
      "rules": {
        "declaration-property-value-no-unknown": null,
        "function-no-unknown": [
          true,
          {
            "ignoreFunctions": [
              "fade"
            ]
          }
        ]
      }
    },
    {
      "customSyntax": "postcss-scss",
      "files": [
        "**/*.scss"
      ],
      "rules": {
        "at-rule-no-unknown": [
          true,
          {
            "ignoreAtRules": [
              "content",
              "else",
              "for",
              "forward",
              "if",
              "include",
              "mixin",
              "each",
              "use"
            ]
          }
        ],
        "declaration-property-value-no-unknown": null
      }
    }
  ],
  "plugins": [
    "stylelint-codeguide"
  ],
  "rules": {
    "annotation-no-unknown": true,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "blockless-after-blockless"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "codeguide/at-rule-name-case": "lower",
    "codeguide/at-rule-name-space-after": "always",
    "at-rule-no-unknown": true,
    "at-rule-no-vendor-prefix": true,
    "codeguide/at-rule-semicolon-newline-after": "always",
    "codeguide/block-closing-brace-empty-line-before": "never",
    "codeguide/block-closing-brace-newline-after": "always",
    "codeguide/block-closing-brace-newline-before": "always",
    "codeguide/block-closing-brace-space-after": "always-single-line",
    "codeguide/block-closing-brace-space-before": "always-single-line",
    "block-no-empty": true,
    "codeguide/block-opening-brace-newline-after": "always",
    "codeguide/block-opening-brace-space-after": "always-single-line",
    "codeguide/block-opening-brace-space-before": "always",
    "color-hex-alpha": "never",
    "codeguide/color-hex-case": "lower",
    "color-hex-length": "long",
    "color-named": "never",
    "color-no-hex": null,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "custom-property-no-missing-var-function": true,
    "codeguide/declaration-bang-space-after": "never",
    "codeguide/declaration-bang-space-before": "always",
    "declaration-block-no-duplicate-custom-properties": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "codeguide/declaration-block-semicolon-newline-after": "always",
    "codeguide/declaration-block-semicolon-newline-before": "never-multi-line",
    "codeguide/declaration-block-semicolon-space-after": "always-single-line",
    "codeguide/declaration-block-semicolon-space-before": "never",
    "codeguide/declaration-block-trailing-semicolon": "always",
    "codeguide/declaration-colon-space-after": "always-single-line",
    "codeguide/declaration-colon-space-before": "never",
    "declaration-no-important": true,
    "declaration-property-max-values": null,
    "declaration-property-value-no-unknown": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": true,
    "font-weight-notation": [
      "numeric",
      {
        "ignore": [
          "relative"
        ]
      }
    ],
    "function-calc-no-unspaced-operator": true,
    "codeguide/function-comma-newline-after": "always-multi-line",
    "codeguide/function-comma-newline-before": "never-multi-line",
    "codeguide/function-comma-space-after": "always-single-line",
    "codeguide/function-comma-space-before": "never",
    "function-linear-gradient-no-nonstandard-direction": null,
    "codeguide/function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-no-unknown": true,
    "codeguide/function-parentheses-space-inside": "never-single-line",
    "function-url-quotes": "always",
    "codeguide/function-whitespace-after": "always",
    "import-notation": null,
    "codeguide/indentation": 2,
    "keyframe-block-no-duplicate-selectors": true,
    "keyframe-declaration-no-important": true,
    "keyframe-selector-notation": "percentage-unless-within-keyword-only-block",
    "length-zero-no-unit": [
      true,
      {
        "ignore": [
          "custom-properties"
        ],
        "ignoreFunctions": [
          "var",
          "/^--/"
        ]
      }
    ],
    "codeguide/max-empty-lines": 2,
    "max-nesting-depth": [
      2,
      {
        "ignoreAtRules": [
          "media"
        ]
      }
    ],
    "codeguide/media-feature-colon-space-after": "always",
    "codeguide/media-feature-colon-space-before": "never",
    "codeguide/media-feature-name-case": "lower",
    "media-feature-name-no-unknown": true,
    "media-feature-name-no-vendor-prefix": true,
    "codeguide/media-feature-parentheses-space-inside": "never",
    "codeguide/media-feature-range-operator-space-after": "always",
    "codeguide/media-feature-range-operator-space-before": "always",
    "codeguide/media-query-list-comma-newline-after": "always-multi-line",
    "codeguide/media-query-list-comma-newline-before": "never-multi-line",
    "codeguide/media-query-list-comma-space-after": "always-single-line",
    "codeguide/media-query-list-comma-space-before": "never-single-line",
    "named-grid-areas-no-invalid": true,
    "no-descending-specificity": null,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "codeguide/no-extra-semicolons": true,
    "codeguide/no-eol-whitespace": true,
    "no-invalid-double-slash-comments": true,
    "no-invalid-position-at-import-rule": true,
    "no-irregular-whitespace": true,
    "codeguide/no-missing-end-of-source-newline": true,
    "codeguide/number-leading-zero": "always",
    "number-max-precision": 2,
    "codeguide/number-no-trailing-zeros": true,
    "property-allowed-list": null,
    "codeguide/property-case": "lower",
    "property-disallowed-list": null,
    "property-no-unknown": true,
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "rule-selector-property-disallowed-list": null,
    "codeguide/selector-attribute-brackets-space-inside": "never",
    "codeguide/selector-attribute-operator-space-after": "never",
    "codeguide/selector-attribute-operator-space-before": "never",
    "selector-attribute-quotes": "always",
    "codeguide/selector-combinator-space-after": "always",
    "codeguide/selector-combinator-space-before": "always",
    "codeguide/selector-descendant-combinator-no-non-space": true,
    "codeguide/selector-list-comma-newline-after": "always",
    "codeguide/selector-list-comma-newline-before": "never-multi-line",
    "codeguide/selector-list-comma-space-after": "always-single-line",
    "codeguide/selector-list-comma-space-before": "never",
    "codeguide/selector-max-empty-lines": 0,
    "selector-max-id": 0,
    "selector-max-universal": 2,
    "selector-not-notation": "simple",
    "codeguide/selector-pseudo-class-case": "lower",
    "selector-pseudo-class-no-unknown": true,
    "codeguide/selector-pseudo-class-parentheses-space-inside": "never",
    "codeguide/selector-pseudo-element-case": "lower",
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-case": "lower",
    "selector-type-no-unknown": true,
    "string-no-newline": true,
    "codeguide/string-quotes": "double",
    "codeguide/unit-case": "lower",
    "unit-no-unknown": true,
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ],
    "codeguide/value-list-comma-newline-after": "always-multi-line",
    "codeguide/value-list-comma-newline-before": "never-multi-line",
    "codeguide/value-list-comma-space-after": "always-single-line",
    "codeguide/value-list-comma-space-before": "never",
    "codeguide/value-list-max-empty-lines": 0,
    "value-no-vendor-prefix": true
  }
}
