.button {
  display: inline-block;
  padding: 10px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
}
