.page-body {
  min-width: $height-mobile;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
