.page-main {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.page-main__title--catalog {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.page-main__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}
