/*global*/
@import "variables.scss";
@import "fonts.scss";
@import "global.scss";

/*blocks*/
@import "blocks/page.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/button.scss";
@import "blocks/copyright.scss";
@import "blocks/effect.scss";
@import "blocks/example.scss";
@import "blocks/before.scss";
@import "blocks/after.scss";
@import "blocks/functional-food.scss";
@import "blocks/our-address.scss";
@import "blocks/page-footer.scss";
@import "blocks/product-descriptions.scss";
@import "blocks/social.scss";
@import "blocks/page-main.scss";
@import "blocks/form.scss";
@import "blocks/fields-list.scss";
@import "blocks/radio.scss";
@import "blocks/checkbox.scss";
@import "blocks/products.scss";
@import "blocks/product.scss";
@import "blocks/energy-food.scss";
@import "blocks/additional-products.scss";
