$basic-white: #ffffff;
$special-basic-white: rgb(255 255 255 / 0.3);
$basic-black: #000000;
$basic-special-black: rgb(0 0 0 / 0.24);
$basic-special-black1: rgb(0 0 0 / 0.4);
$basic-special-black2: rgb(0 0 0 / 0.16);
$basic-special-black3: rgb(0 0 0 / 0.19);
$basic-special-black4: rgb(0 0 0 / 0.2);
$special-black: #111111;
$basic-green:rgb(104 183 56 / 0.85);
$basic-green2: #5eaa2f;
$special-green:rgb(104 183 56 / 1);
$basic-grey: #f2f2f2;
$light-grey: #e7e7e7;
$basic-grey2: #eaeaea;
$special-light-grey: #e6e6e6;
$special-light-grey2: #ebebeb;
$special-light-grey4: #666666;
$special-dark-grey: rgb(68 68 68 / 1);
$special-dark-grey3:rgb(68 68 68 / 0.3);
$special-dark-grey2: #bababa;
$special-light-black: #222222;
$dark-grey: #d9d9d9;
$special-light-grey3: #cdcdcd;
$status-error: #ff8282;
$height-mobile: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
